<html>
    <head>
        <title> Hello, world! </title>
    </head>
    <body>
        <form action='collage' method = 'post'>
            <input type = "text" name = "lastfm_username"> </input>
           
			<select name="duration" multiple>
			  <option value="7day">7 days</option>
			  <option value="1month">1 month</option>
			  <option value="3month">3 months</option>
			  <option value="6month">6 months</option>
			  <option value="overall">Overall</option>
			</select>
 			<input type = "submit">

        </form>
    </body>
</html>
